*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    display: flex;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

li{
    list-style:none;
    font-size: 8px;
    margin-left: 5px;
}


header{
    background-color: #EAC926;
    width: 100%;
}

header .logo-buscador{
    display: flex;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content:space-between;
}

.logo-buscador div form{
    position: relative;
    width: 100%;
}

.logo-buscador input{
    width: 100%;
    border-radius: 11px;
    padding: 5px;
    border: white;
}
.logo-buscador button{
    background-color: white;
    border: 1px solid white;
    position: absolute;
    right: 9px;
    top: 2px;
}

header div img{
    width: 50%;
}

header div div{
    width: 50%;
}

p{
    font-size: 12px;
}

.inputSearch{
    width: 80%;
}

.titular{
    font-size: 24px;
    color:#666;
    padding-left: 25px;
}

.precio{
    font-size: 18px;
    width: 30%;
}

.descuento{
    font-size:16px;
    color: #39b54a;
    width: 70%;
}
.descripcion{    
    position: absolute;
    top: 34px;
    font-size: 16px;
    color:#666;
    display:none;
}

article div i:hover{
    transform: rotateZ(-90deg);
    transition: 1s;
}

.titleOfertas{
    color: #666;
    font-weight: bold;
}

.text-center{
    text-align: center;
}

footer div i{
    font-size: 2em;
    margin-bottom: 10px;
    /** color:#03264C; */
    color: #1259c3;
}

footer div{
    padding:5px;
}

main{
    background-color: #ebebeb;
}

article{
    margin: 10px;
    background-color: white;
}

article:hover{
    transition: 300ms;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article:hover .descripcion{
    display: initial;
    transition: 2s;
}

article div {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    position: relative;
}

.ofert{
    width: 100%;
}

img{
    width: 100%;
}

.fa-truck{
    margin: 0.5em;
    color: #39b54a;
    padding: 0.4em;
    border: solid 2px #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 30px;
    background-color: white;
}

.fa-bars{
    color: #ffffff;
    font-size: 1em;
    background: #03264C;
    border: 8px solid #03264C;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

nav{
    display:none;
}

footer{
    background-color: white;
}

/** register */
body{
    background-color:#ebebeb;
}
.containerForm{
    width: 70%;
    margin: 10px;
    padding: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

form{
    margin: auto;
}

form > div > input{
    border-radius: 7px;
    padding: 5px;
    border: 1px solid gray;
    background-color:white;
    width: 100%;
}

.containerForm form div{
    margin:20px
}

.button{
    border-radius: 7px;
    padding: 5px;
    width:48%;
}

.button-blue:hover{
    background: #0022AA;
}

.button-blue {
    background-color:#1259c3;
    color: white;
}

.button-red {
    background-color:red;
    color: white;
}

@media(min-width:361px ){
    footer{
        display:flex;
        flex-wrap: wrap;
        padding:10px;
    }
    footer div{
        width: 33%;
        padding:10px;
    }
    
    .copyright{
        margin-top:10px;
        width: 100%;
    }
    
    main div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    article{        
        max-width: 44%;
    }
    .descripcion{
        position: revert;
        display:initial;
        width: 100%;
        font-size: 13px;
    }
    .button-nav{
        display:none;
    }

    nav{
        display:initial;
    }

    .fa-truck{
        bottom: 35px;
    }

    .precio, .descuento {
        padding: 0px;
        margin: 0px;
    }

    .precio{
        font-size: 13px;
        width: 45%;
    }

    .descuento{
        width: 55%;
        font-size: 13px;
    }

    header div img{
        width: 30%;
    }
    
    header div div{
        width: 30%;
    }

    header div p{
        width: 35%;
        font-size: 12px;
    }

    .containerForm form{
        margin: auto;
        width: 100%;
    }

    li{
        font-size: 9px;
        margin-left: 3px;
    }
}

@media(min-width:769px){
    article{        
        max-width: 22%;
    }

    .descuento{
        width: 60%;
    }

    .precio{
        width: 40%;
    }

    li{
        font-size: 17px;
        margin-left: 12px;
    }

    .containerForm form{
        margin: auto;
        width: 600px;
    }
    
}